<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="biz.dfch.CS.Graylog.Client.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="biz.dfch.CS.Graylog.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <biz.dfch.CS.Graylog.Client.Test.Properties.Settings>
      <setting name="GraylogAPIUrl" serializeAs="String">
        <value>http://rhel6-t6-05.tenant6.local:12900</value>
      </setting>
    </biz.dfch.CS.Graylog.Client.Test.Properties.Settings>
    <biz.dfch.CS.Graylog.Client.Properties.Settings>
      <setting name="FieldNameBlackList" serializeAs="String">
        <value>source,version</value>
      </setting>
    </biz.dfch.CS.Graylog.Client.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>